/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #a1b3c6;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #007bff;
}
h5{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

/* Sección del formulario */
#form1 {
    margin: 30px auto;
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    
}

/* Estilos del formulario Registro y Login */
form {
    margin-top: 20px;
}

 .form-label {
    width: 100%;
    font-weight: bold;
    color: #495057;
} 


.form-control {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

/* Estilos de los botones */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0d2a48;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/*Seccion botones acciones*/
.allBotones{
    width: 100%;
    display: inline-flex;
    padding: 10px;
    background-color: #244db2;
    justify-content: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    flex-wrap: wrap;
    justify-content: space-around;
}

.botones{
    background-color: #73818e;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 20px;
}

.botones:hover{
    background-color: #9cb0c5;
}

/*Seccion get allStudents*/
.cardTodas{

    color: black;
    width: 100%;
    height: 25%;
}
.card{
    max-width: 100%;
    margin: 50px;
    background-color: antiquewhite;
}

.car-title{
    font-size: 30px;
}
.card-body{
    text-align: center;
    margin: 10px;
}
.cardPorId{
    width: 25%;
    height: 25%;
}

/*Formulario para buscar estudiante por id*/
#studentByIdForm{
    width: 300px;
    height: 300px;
}
.form-label-ID{
    width: 100%;
    font-weight: bold;
    color: #0c0c0c;
    background-color: antiquewhite;
    margin-bottom: 5px;
text-align: center;
}
#studentByIdContainer{
    width: 100%;
    height: 100%;
}
.card-getById{

width: 50%;
background-color: antiquewhite;
justify-self: center;
}



/* Ajustes para móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    div > button {
        width: 48%;
        margin: 10px 2%;
    }

    #form1 {
        width: 90%;
    }

    button {
        width: 100%;
    }
}
