/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #a1b3c6;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #007bff;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

/* Sección del formulario */
#form1 {
    margin: 30px auto;
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.allBotones{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.botones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    margin: 10px;
}

/* Estilos de los formularios */
form {
    margin-top: 20px;
}

/* .form-label {
    font-weight: bold;
    color: #495057;
} */

.form-control {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

/* Estilos de los botones */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Estilos de los botones adicionales */
div > button {
    width: 22%;
    margin: 10px 5px;
    display: inline-block;
    padding: 10px;
    background-color: #244db2;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

div > button:hover {
    background-color: #38408a;
}

/*Seccion get allStudents*/

.card{
    max-width: 100%;
    margin: 50px;
    background-color: antiquewhite;
}
.card-body{
    text-align: center;
}
.cardTodas{
    color: black;
    width: 25%;
    height: 25%;
}
.cardPorId{
    width: 25%;
    height: 25%;
}


/* Ajustes para móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    div > button {
        width: 48%;
        margin: 10px 2%;
    }

    #form1 {
        width: 90%;
    }

    button {
        width: 100%;
    }
}
